#Register {
    height: 100%;
    justify-content: space-evenly;
}

select {
    width: 150px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-color: #646cff; ;
    border-left-color: #646cff;   
    /* border-top-left-radius: 50px;     */
    border-radius: 25px;
    text-align: center;
    color:black;
    max-height: 200px !important;
}

option {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* height: 200px; */
}

datalist {
    max-height: 200px !important;
}
fieldset{
    
    /* height: 200px !important; */
}